<h1>Edit Production line</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.production_line_path(@conn, :update, @production_line)) %>

<span><%= link "Back", to: Routes.production_line_path(@conn, :index) %></span>
