<h1>New Recipe category</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.recipe_category_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.recipe_category_path(@conn, :index) %></span>
